{% extends 'base.html.twig' %}
{% block container %}

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area">
        <div class="ht__bradcaump__container">
            <img src="{{ asset('images/bg-png/6.png') }}" alt="bradcaump images">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">About Us</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="index-2.html">Home</a>
                                <span class="brd-separetor"><img src="{{ asset('images/icons/brad.png') }}" alt="separator images"></span>
                                <span class="breadcrumb-item active">About Us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Choose Us Area -->
    <section class="dcare__choose__us__area section-padding--lg bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Little About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Choose Option -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dacre__choose__option">
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__inner">
                                <h4><a href="about-us.html">Language Lesson</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                            <div class="choose__icon">
                                <img src="images/choose/icon/1.png" alt="choose icon">
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__inner">
                                <h4><a href="about-us.html">Meals Provided</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                            <div class="choose__icon">
                                <img src="images/choose/icon/2.png" alt="choose icon">
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__inner">
                                <h4><a href="about-us.html">Transportation</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                            <div class="choose__icon">
                                <img src="images/choose/icon/3.png" alt="choose icon">
                            </div>
                        </div>
                        <!-- End Single Choose -->
                    </div>
                </div>
                <!-- End Single Choose Option -->
                <!-- Start Single Choose Option -->
                <div class="col-lg-4 col-md-6 col-sm-12 d-block d-lg-block d-md-none">
                    <div class="dacre__choose__option">
                        <div class="choose__big__img">
                            <img src="images/choose/big-img/1.png" alt="choose images">
                        </div>
                    </div>
                </div>
                <!-- End Single Choose Option -->
                <!-- Start Single Choose Option -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="dacre__choose__option text__align--left">
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__icon">
                                <img src="images/choose/icon/4.png" alt="choose icon">
                            </div>
                            <div class="choose__inner">
                                <h4><a href="about-us.html">Professional Teacher</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__icon">
                                <img src="images/choose/icon/5.png" alt="choose icon">
                            </div>
                            <div class="choose__inner">
                                <h4><a href="about-us.html">Smart Education</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                        </div>
                        <!-- End Single Choose -->
                        <!-- Start Single Choose -->
                        <div class="choose">
                            <div class="choose__icon">
                                <img src="images/choose/icon/6.png" alt="choose icon">
                            </div>
                            <div class="choose__inner">
                                <h4><a href="about-us.html">Toys & Games</a></h4>
                                <p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
                            </div>
                        </div>
                        <!-- End Single Choose -->
                    </div>
                </div>
                <!-- End Single Choose Option -->
            </div>
        </div>
    </section>
    <!-- End Choose Us Area -->
    <!-- Start Welcame Area -->
    <section class="junior__welcome__area welcome--2 bg-image--9 section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Welcome To Junior Home</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
                    </div>
                </div>
            </div>
            <div class="row jn__welcome__wrapper align-items-center">
                <div class="col-md-12 col-lg-6 col-sm-12">
                    <div class="jnr__Welcome__thumb">
                        <img src="images/wel-come/2.jpg" alt="images">
                        <a class="play__btn" href="https://www.youtube.com/watch?v=MCJEkZtqlBk"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-sm-12 md-mt-40 sm-mt-40">
                    <div class="welcome__juniro__inner">
                        <h3>Welcome to <span class="theme-color">O</span><span>u</span>r School</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisic mExcepteur sint occaecat cupida proident, sunt in culpaoc caecacupidatat non proident, sunt in culpa qui officia destotarem aperiam, eaque ipsa quae ab illo voluptatemseamet occaecat proident, sunt in culpaoc caecacupidatat non proident, destotarem</p>
                        <div class="wel__btn">
                            <a class="dcare__btn" href="about-us.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcame Area -->
    <!-- Start Courses Area -->
    <section class="dcare__courses__area section-padding--lg bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Our Classes</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Courses -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="courses">
                        <div class="courses__thumb">
                            <a href="#">
                                <img src="images/courses/3.jpg" alt="courses images">
                            </a>
                        </div>
                        <div class="courses__inner">
                            <ul class="courses__meta d-flex">
                                <li class="prize">$50</li>
                                <li class="comment"><i class="fa fa-comment"></i>53</li>
                                <li class="like"><i class="fa fa-user"></i>40</li>
                            </ul>
                            <div class="courses__wrap">
                                <div class="courses__date"><i class="fa fa-calendar"></i>30th Dec, 2017</div>
                                <div class="courses__content">
                                    <h4><a href="#">Color Matching</a></h4>
                                    <p>Lor error sit volupta aclaud antium, toe ape sriam, ab illnv ritatis et quasi architecto beatae viliq.</p>
                                    <ul class="rating d-flex">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Courses -->
                <!-- Start Single Courses -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="courses">
                        <div class="courses__thumb">
                            <a href="#">
                                <img src="images/courses/4.jpg" alt="courses images">
                            </a>
                        </div>
                        <div class="courses__inner">
                            <ul class="courses__meta d-flex">
                                <li class="prize">$50</li>
                                <li class="comment"><i class="fa fa-comment"></i>53</li>
                                <li class="like"><i class="fa fa-user"></i>40</li>
                            </ul>
                            <div class="courses__wrap">
                                <div class="courses__date"><i class="fa fa-calendar"></i>30th Dec, 2017</div>
                                <div class="courses__content">
                                    <h4><a href="#">Color Matching</a></h4>
                                    <p>Lor error sit volupta aclaud antium, toe ape sriam, ab illnv ritatis et quasi architecto beatae viliq.</p>
                                    <ul class="rating d-flex">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Courses -->
                <!-- Start Single Courses -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="courses">
                        <div class="courses__thumb">
                            <a href="#">
                                <img src="images/courses/5.jpg" alt="courses images">
                            </a>
                        </div>
                        <div class="courses__inner">
                            <ul class="courses__meta d-flex">
                                <li class="prize">$50</li>
                                <li class="comment"><i class="fa fa-comment"></i>53</li>
                                <li class="like"><i class="fa fa-user"></i>40</li>
                            </ul>
                            <div class="courses__wrap">
                                <div class="courses__date"><i class="fa fa-calendar"></i>30th Dec, 2017</div>
                                <div class="courses__content">
                                    <h4><a href="#">Color Matching</a></h4>
                                    <p>Lor error sit volupta aclaud antium, toe ape sriam, ab illnv ritatis et quasi architecto beatae viliq.</p>
                                    <ul class="rating d-flex">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Courses -->
            </div>
        </div>
    </section>
    <!-- End Courses Area -->
    <!-- Start Team Area -->
    <section class="dcare__team__area pb--150 bg--white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Out Teachers</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team">
                        <div class="team__thumb">
                            <a href="#">
                                <img src="images/team/1.jpg" alt="team images">
                            </a>
                            <div class="team__hover__action">
                                <div class="team__hover__inner">
                                    <p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    <ul class="dacre__social__link--2 d-flex justify-content-center">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="vimeo"><a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
                                        <li class="pinterest"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a href="#">Hanchica Merica</a></h6>
                                <span>Drawing Instructor</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team">
                        <div class="team__thumb">
                            <a href="#">
                                <img src="images/team/2.jpg" alt="team images">
                            </a>
                            <div class="team__hover__action">
                                <div class="team__hover__inner">
                                    <p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    <ul class="dacre__social__link--2 d-flex justify-content-center">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="vimeo"><a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
                                        <li class="pinterest"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a href="#">AngelicaHmpton</a></h6>
                                <span>Music Instructor</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team">
                        <div class="team__thumb">
                            <a href="#">
                                <img src="images/team/3.jpg" alt="team images">
                            </a>
                            <div class="team__hover__action">
                                <div class="team__hover__inner">
                                    <p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    <ul class="dacre__social__link--2 d-flex justify-content-center">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="vimeo"><a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
                                        <li class="pinterest"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a href="#">Criss Grag Hole</a></h6>
                                <span>Health Instructor</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </section>
    <!-- End Team Area -->
    <!-- Start Counter Up Area -->
    <section class="dcare__counterup__area section-padding--lg bg-image--6">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="counterup__wrapper d-flex flex-wrap flex-lg-nowrap flex-md-nowrap justify-content-between">
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="images/funfact/1.png" alt="flat icon">
                            </div>
                            <div class="fact__count ">
                                <span class="count">95</span>
                            </div>
                            <div class="fact__title">
                                <h2>Student</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="images/funfact/2.png" alt="flat icon">
                            </div>
                            <div class="fact__count ">
                                <span class="count color--2">95</span>
                            </div>
                            <div class="fact__title">
                                <h2>classroom</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="images/funfact/3.png" alt="flat icon">
                            </div>
                            <div class="fact__count ">
                                <span class="count color--3">40</span>
                            </div>
                            <div class="fact__title">
                                <h2>Teacher</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="funfact">
                            <div class="fact__icon">
                                <img src="images/funfact/4.png" alt="flat icon">
                            </div>
                            <div class="fact__count">
                                <span class="count color--4">10</span>
                            </div>
                            <div class="fact__title">
                                <h2>School Bus</h2>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Up Area -->
    <!-- Start Subscribe Area -->
    <section class="bcare__subscribe bg-image--7 subscrive--2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-lg-12">
                    <div class="subscribe__inner">
                        <h2>Subscribe To Our Newsletter</h2>
                        <div class="newsletter__form">
                            <div class="input__box">
                                <div id="mc_embed_signup">
                                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                            <div class="news__input">
                                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your E-mail" required>
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                            <div class="clearfix subscribe__btn"><input type="submit" value="Send Now" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Subscribe Area -->
{% endblock %}