<form method="POST" action="{{ path('e_learning_ajouterEnseignant') }}">
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Nom</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nom" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Prenom</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="prenom" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">adresse Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="mdp" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleTextarea">Description</label>
        <textarea class="form-control" id="exampleTextarea" name="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">specialite</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="specialite" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>