
                <h5>Modification d'une Ativité</h5>
                <form method="POST">
                    {{ form_row(form.type) }}
                    {{ form_row(form.adresse) }}
                    {{ form_row(form.age) }}


                    {{ form_row(form.Modifier) }}
                </form>
