<form method="POST" action="{{ path('AjouterRecette') }}">
    {{ form_row(form.titre) }}
    {{ form_row(form.video) }}
    {{ form_row(form.description) }}
    <br><center> <input type="submit" class="btn btn-primary" value="add" /></center>
</form>
