</div>
</div>
</div>
</div>

{% block java %}
    <script src="{{ asset('vendors/bower_components/peity/jquery.peity.min.js') }}"></script>
    <script src="{{ asset('dist/js/peity-data.js') }}"></script>

{% endblock %}
{% endblock %}