{% extends "::base.html.twig" %}

{% block title %}BabysittingBundle:Babysitting:ajouterBabysitting{% endblock %}

{% block body %}
<h1>Welcome to the Babysitting:ajouterBabysitting page</h1>
{% endblock %}
