{% extends "base.html.twig" %}
 {% block container %}
     <section>
         <div class="container">

             <div class="section-content">
                 <div class="row">
                     <div class="container">
                         <h2 class="text-theme-color-sky line-bottom"><span class="text-theme-color-red">Formulaire de recherche de babysitting</span>
                         </h2>
                         <h4 class="text-theme-color-blue">Vous cherchez un babysitting ?</h4>
                         <p>Veuillez saisir les critères que vous voulez afin d'avoir le meilleur résultat .</p>
                     </div>

                 </div>
             </div>
         </div>
     </section>
{% endblock %}
