{% extends "::base.html.twig" %}

{% block title %}BabysittingBundle:Babysitting:distanceBabysitting{% endblock %}

{% block body %}
<h1>Welcome to the Babysitting:distanceBabysitting page</h1>
{% endblock %}
