{% extends "::base.html.twig" %}

{% block title %}BabysittingBundle:Babysitting:historiqueBabysitting{% endblock %}

{% block body %}
<h1>Welcome to the Babysitting:historiqueBabysitting page</h1>
{% endblock %}
