{% extends "::base.html.twig" %}

{% block title %}BabysittingBundle:Babysitting:listerDesBabysittings{% endblock %}

{% block body %}
<h1>Welcome to the Babysitting:listerDesBabysittings page</h1>
{% endblock %}
